// Color names should be consistent with Colors.js
$primary: #F39200;
$appBackgroundColor: #FFFFFF;
$black:#4B3E3D;
$lightGrey:#B1B1B1;
$subTitleColor: #757575;
$inputColor:#909090;
$greyColor1:#4A4A4A;
$greyColor2:#EEF6FB;
$lightBlue:#50A7DA;
$whiteColor:#FFFFFF;
$redColor:#FF0000;
